.row
{
    background-color: rgb(26, 248, 174);
    border:2px solid black;
    display: flex;
    /* color:beige; */
    justify-content: center;
    align-items: center;
}
.layout
{
    height: 500px;
    background-color:rgb(247, 23, 172);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "he he he"
    "h h h"
    "p1 p2 p3"
    "c c c"
    "f f f"
    ;
    gap:10px;
}
#header
{
grid-area: he;
}
#hero
{
    grid-area: h;
}
#p1
{
    grid-area: p1;
}
#p2
{
    grid-area: p2;
}
#p3
{
    grid-area: p3;
}
#contact
{
    grid-area: c;
}
#footer
{
    grid-area: f;
}
.static
{
    background-color: blue;
    width: 100px;
    height:100px;
    position: static; 
}
.relative
{
    background-color: rgb(70, 204, 8);
    width: 100px;
    height:100px;
    position: relative;
    left: 30px; 
    top:50px;
}
.absolute
{
    background-color: rgb(167, 20, 101);
    width: 100px;
    height:100px;
    position: absolute; 
    top: 50px;
}
.fixed
{
    background-color: rgb(178, 225, 231);
    width: 100px;
    height:100px;
    position: fixed; 
    bottom: 70px;
}
.sticky
{
    background-color: rgb(251, 255, 0);
    width: 100px;
    height:100px;
    position: sticky; 
    bottom: 170px;
}
.abparent
{
    position: relative;
    border: 3px solid black;
    width: 100px;
    height: 100px;
}
.notify
{
    background-color: rgb(47, 245, 8);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
}
.count
{
    background-color: red;
    color: white;
    border-radius: 50px;
    width: 10px;
    position: absolute;
    left: 45px;
    padding: 2px;
}
.notfixed
{
    position: fixed;
    /* bottom: 10px; */
    /* right: 10px; */
    
}
