h1{
    color:red;
    background-color: antiquewhite;
    border: 2px black;
    padding: 25px;
    margin:25px;

}
/* type selector/ element selector */
/* body {
    /* background-color:bisque; */
 */
p {
color: blue;
}
/* class selectors */
.h3headings{
   color:yellow;
}
/* id selectors - used uniquely */
#h4id{
    color: red;
}

/* universal selector */

/* *{
background-color: steelblue;
}  */

 /* group selector 

 h1,h2,h3{
 color:red;
}*/

/* .ji
{
   width:100px;
   height:100px;
   background-color: blue; 
   color:beige;
} */

/* .container
{
background-color: aqua;
height:1000px;
display: flex; */
/* flex direction in row */


/* flex-direction: row;
gap:30px;
justify-content: center;
align-items: end; */

/* flex-direction: column;
justify-content: end;
align-items: center;

} */

/* main axis - justify content */
/* cross axis - align items */

/* .fees
{
    height:800px;
    display:flex;
    flex-direction: row;
justify-content: center;
gap:30px;
align-items:center;
flex-wrap: wrap;


}
.fees1
{
    height:800px;
    display:flex;
    flex-direction: column;
justify-content: start;
gap:30px;
align-items:center;


} */

.box
{
    color: beige;
    background-color: blue;

}
.container
{
    /* flux 1 D grid- 2D */
    height: 800px;
    background-color: AQUA;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr ;
    /* in terms of percent can also be given */
    /* repeat(4,2fr) */
    grid-template-rows: 1fr 1fr 3fr;
    gap:30px;
    /* grid-auto-flow: column; */
    
}

#box1
{
grid-column-start: 1;
grid-column-end: 3;
/* or use grid-column:1/3 */
grid-row: 2/4;
}

